<nav class="bottom-nav">
    <div class="bottom-nav-container">
        <a href="/" class="bottom-nav-item">
            <i class="fas fa-tag"></i>
            <span>Shop</span>
        </a>
        <a href="/retailers" class="bottom-nav-item">
            <i class="fas fa-store"></i>
            <span>Retailers</span>
        </a>
        <a href="/user/orders" class="bottom-nav-item">
            <i class="fas fa-receipt"></i>
            <span>Orders</span>
        </a>
        <a href="/user/account" class="bottom-nav-item">
            <i class="fas fa-user"></i>
            <span>Account</span>
        </a>
    </div>
</nav>